In [2]:
''' dict= {1: "one",2:"two",3:"three",4:"four",5:"five"}
if the keyword in your dict is even then its corresponding should be capitalized. and if the keyword in your dict is odd then values should be a float of the keyword.
Passcode: TtvUeY!2
'''


D={1: "one",2:"two",3:"three",4:"four",5:"five"}
for key in D:
    if key%2==0:
        D[key]=D[key].upper()
    else:
        D[key]=float(key)
print(D)

{1: 1.0, 2: 'TWO', 3: 3.0, 4: 'FOUR', 5: 5.0}

In [6]:
D={1: "one",2:"two",3:"three",4:"four",5:"five"}
for key,value in D.items():
    if key%2==0:
        D[key]=D[key]*2
    else:
        D[key]=len(D[key])
print(D)

{1: 3, 2: 'twotwo', 3: 5, 4: 'fourfour', 5: 4}

In [7]:
D={}
x='a quick brown fox jumps over the lazy dog dog dog fox quick'
for i in x:
    D[i]=x.count(i)
print(D)

{'a': 2, ' ': 12, 'q': 2, 'u': 3, 'i': 2, 'c': 2, 'k': 2, 'b': 1, 'r': 2, 'o': 7, 'w': 1, 'n': 1, 'f': 2, 'x': 2, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'e': 2, 't': 1, 'h': 1, 'l': 1, 'z': 1, 'y': 1, 'd': 3, 'g': 3}

In [13]:
# count the frequency of words in the string x='a quick brown fox jumps over the lazy dog dog dog fox quick'
d={}
x='a quick brown fox jumps over the lazy dog dog dog fox quick'
l=x.split(" ")
for i in l:
    d[i]=l.count(i)
print(d)

{'a': 1, 'quick': 2, 'brown': 1, 'fox': 2, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog': 3}

In [14]:
x='a quick brown fox jumps over the lazy dog dog dog fox quick'
l=x.split(" ")
print(l)
from collections import Counter
Counter(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog', 'dog', 'dog', 'fox', 'quick']

Counter({'a': 1,
         'quick': 2,
         'brown': 1,
         'fox': 2,
         'jumps': 1,
         'over': 1,
         'the': 1,
         'lazy': 1,
         'dog': 3})

In [15]:
### Create a dictionary  with 3 keys, all with the values 0:
x=('key1','key2','key3')
y=0
dicti=dict.fromkeys(x,y)
print(dicti)

{'key1': 0, 'key2': 0, 'key3': 0}

In [16]:
l1=[1,2,3,4,5]
l2=["one",'two','three','four','five']
d=dict(zip(l1,l2))
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [17]:
l1="madrid"
l2=["one",'two','three','four','five']
d=dict(zip(l1,l2))
d

{'m': 'one', 'a': 'two', 'd': 'three', 'r': 'four', 'i': 'five'}

In [18]:
l1="madrid"
l2=["one",'two','three','four','five','six','seven']
d=dict(zip(l1,l2))
d

{'m': 'one', 'a': 'two', 'd': 'six', 'r': 'four', 'i': 'five'}

## Dictionary Comprehension




like list comprehension take, Python allows dictionary comprehensions. We can create dictionaries
using simple expression

In [19]:
start=int(input("start"))
end=int(input("end"))
d={}
for i in range(start,end+1):
    d[i]=i*i
print(d)

start2
end9
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [21]:
{i:i*i for i in range(2,13)}

{2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144}

In [22]:
{i:"even" for i in range(start,end+1) if i%2==0}

{2: 'even', 4: 'even', 6: 'even', 8: 'even'}

In [24]:
start=int(input("start"))
end=int(input("end"))
{i:"even" if i%2==0 else "odd" for i in range(start,end+1) }

start1
end15

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd'}

In [28]:
d = {"Aman":29,"Ramesh":44,"Golu":56,"Raju":45,"Molu":28}
for i in d:
    if d[i]>=40:
        print("old")
    else :
        print("young")

young
old
old
old
young

In [30]:
d = {"Aman":29,"Ramesh":44,"Golu":56,"Raju":45,"Molu":28}
{i:"old" if d[i]>40 else "young" for i in d }

{'Aman': 'young',
 'Ramesh': 'old',
 'Golu': 'old',
 'Raju': 'old',
 'Molu': 'young'}

In [36]:
s="coding"
{ i.upper():i*3 for i in s }

{'C': 'ccc', 'O': 'ooo', 'D': 'ddd', 'I': 'iii', 'N': 'nnn', 'G': 'ggg'}

In [44]:
d={"1 0": "ten","2 0 0":"two hundred","3 0":"thirty"}
d={"10": "ten","200":"two hundred","30":"thirty"}
{int(i.replace(" ","")):d[i] for i in d}

{10: 'ten', 200: 'two hundred', 30: 'thirty'}

### Q1 {'Math': [88, 89, 90], 'Physics': [92, 94, 87], 'Chemistry': [90, 87, 93]}
Update the list values of the said dictionary:
 {'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

In [64]:
d={'Math': [88, 89, 90], 'Physics': [92, 94, 87], 'Chemistry': [90, 87, 93]}
for key in d:
    if key=='Physics':
        d[key][0]=92
        d[key][1]=94
        d[key][2]=88
    elif key=="Math":
        d[key][0]=88
        d[key][1]=89
        d[key][2]=90
print(d)

{'Math': [88, 89, 90], 'Physics': [92, 94, 88], 'Chemistry': [90, 87, 93]}


## Q2 [{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]
Remove id #FF0000 from the said list of dictionary:
[{'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, 
{'id': '#808000', 'color': 'Olive'}] 
'''

In [67]:
l= [{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]
del l[0]
l

[{'id': '#800000', 'color': 'Maroon'},
 {'id': '#FFFF00', 'color': 'Yellow'},
 {'id': '#808000', 'color': 'Olive'}]

# Q3 Wap to convert dictionary of list to list of dictionaries 
d = {1:[1,2],2:[3,4],3:[5,6]}
output
l = [{1:[1,2]},{2:[3,4]},{3:[5,6]}]

In [66]:
d={1:[1,2],2:[3,4],3:[5,6]}
l=[]
for key,value in d.items():
    d1={}
    d1[key]=value
    l.append(d1)
print(l)

[{1: [1, 2]}, {2: [3, 4]}, {3: [5, 6]}]