In [42]:
import numpy as np
import pandas as pd 
import seaborn as sns
import scipy.stats
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv("C:\\Users\\ritik\\Downloads\\datasets-20221227T153602Z-001\\datasets\\data sets\\bloodpressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [16]:
df['bp_before']  ## population

0      143
1      163
2      153
3      153
4      146
      ...
115    152
116    161
117    165
118    149
119    185
Name: bp_before, Length: 120, dtype: int64

In [17]:
df['bp_before'].mean()

156.45

## It is fact that avg. bp before of person is 156.45. so should I accdept this claim at alpha 0.05




For this validity of fact we collected  the sample as below:

In [18]:
s1=df['bp_before'].sample(40)
s1

14     143
38     185
119    185
100    168
16     141
80     157
108    155
19     162
70     162
35     159
67     151
18     143
11     173
33     148
116    161
63     144
82     150
91     162
61     147
34     170
55     164
2      153
43     160
104    162
111    159
99     145
54     170
102    147
60     152
79     142
114    165
6      148
66     154
92     144
64     158
53     173
112    148
103    148
72     141
110    183
Name: bp_before, dtype: int64

ho : sample mean is equal to population mean



population mean = 156.45





ha : population mean ! = sample mean

In [19]:
#pip install statsmodels

In [20]:
from statsmodels.stats.weightstats import ztest

In [21]:
help(ztest)

Help on function ztest in module statsmodels.stats.weightstats:

ztest(x1, x2=None, value=0, alternative='two-sided', usevar='pooled', ddof=1.0)
    test for mean based on normal distribution, one or two samples

    In the case of two samples, the samples are assumed to be independent.

    Parameters
    ----------
    x1 : array_like, 1-D or 2-D
        first of the two independent samples
    x2 : array_like, 1-D or 2-D
        second of the two independent samples
    value : float
        In the one sample case, value is the mean of x1 under the Null
        hypothesis.
        In the two sample case, value is the difference between mean of x1 and
        mean of x2 under the Null hypothesis. The test statistic is
        `x1_mean - x2_mean - value`.
    alternative : str
        The alternative hypothesis, H1, has to be one of the following

           'two-sided': H1: difference in means not equal to value (default)
           'larger' :   H1: difference in means larger than value
           'smaller' :  H1: difference in means smaller than value

    usevar : str, 'pooled'
        Currently, only 'pooled' is implemented.
        If ``pooled``, then the standard deviation of the samples is assumed to be
        the same. see CompareMeans.ztest_ind for different options.
    ddof : int
        Degrees of freedom use in the calculation of the variance of the mean
        estimate. In the case of comparing means this is one, however it can
        be adjusted for testing other statistics (proportion, correlation)

    Returns
    -------
    tstat : float
        test statistic
    pvalue : float
        pvalue of the t-test

    Notes
    -----
    usevar not implemented, is always pooled in two sample case
    use CompareMeans instead.

In [22]:
zcal,pval=ztest(s1,value=156.45,alternative='two-sided')
print(zcal,pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.3129051880737215 0.7543526958588431
accept null hypothesis

In [23]:
if zcal>-1.96 and zcal<1.96:
    print("ho accept")
else:
    print('ho reject')

ho accept

## Two sample Z test

In [30]:
s1=df['bp_before'][0:40]
s1

0     143
1     163
2     153
3     153
4     146
5     150
6     148
7     153
8     153
9     158
10    149
11    173
12    165
13    145
14    143
15    152
16    141
17    176
18    143
19    162
20    149
21    156
22    151
23    159
24    164
25    154
26    152
27    142
28    162
29    155
30    175
31    184
32    167
33    148
34    170
35    159
36    149
37    140
38    185
39    160
Name: bp_before, dtype: int64

In [31]:
s2=df['bp_after'][0:40]
s2

0     153
1     170
2     168
3     142
4     141
5     147
6     133
7     141
8     131
9     125
10    164
11    159
12    135
13    159
14    153
15    126
16    162
17    134
18    136
19    150
20    168
21    155
22    136
23    132
24    160
25    160
26    136
27    183
28    152
29    162
30    151
31    139
32    175
33    184
34    151
35    171
36    157
37    159
38    140
39    174
Name: bp_after, dtype: int64

* h0 :there is no difference average of bp_before and bp_after
* ha : there is a difference between average of bp_before and bp_after

In [33]:
ztest(s1,s2,value=0,alternative='two-sided')
if pval<0.05:
    print("ho is rejected")
else:
    print("ho is accepted")

ho is accepted

# T-Test

- Let's say we take a random sample of 10 apples from orchard A and 10 apples from orchard B and weigh them. The sample mean weight for orchard A is 0.25 pounds, with a standard deviation of 0.03 pounds. The sample mean weight for orchard B is 0.3 pounds, with a standard deviation of 0.04 pounds.

# Sample data
orchard_a = [0.24, 0.22, 0.26, 0.23, 0.27, 0.25, 0.28, 0.29, 0.24, 0.25]

orchard_b = [0.28, 0.29, 0.32, 0.30, 0.31, 0.30, 0.33, 0.32, 0.31, 0.33]

determine whether there is a significant difference in the mean weight of apples picked from two different orchards.- 






Null hypothesis: There is no difference in the mean weight of apples picked from orchard A and orchard B. (H0: Î¼A = Î¼B)
- Alternative hypothesis: There is a significant difference in the mean weight of apples picked from orchard A and orchard B. (Ha: Î¼A â‰  Î¼B)

## Two saple t test

In [35]:
from scipy.stats import ttest_ind

In [36]:

orchard_a = [0.24, 0.22, 0.26, 0.23, 0.27, 0.25, 0.28, 0.29, 0.24, 0.25]
orchard_b = [0.28, 0.29, 0.32, 0.30, 0.31, 0.30, 0.33, 0.32, 0.31, 0.33]

In [38]:
ttest,pval=ttest_ind(orchard_a,orchard_b)
print("t-statistic : ",ttest)
print("p=value : ",pval)

alpha=0.05
if pval<alpha:
    print("reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

t-statistic :  -6.395650696065806
p=value :  5.063675673459765e-06
reject null hypothesis

In [39]:
##t_critical

# Chi-Square Test

In [45]:
df=sns.load_dataset("tips")

In [46]:
df.groupby(["sex"])["smoker"].value_counts()

sex
Male    No     97
        Yes    60
Female  No     54
        Yes    33
Name: smoker, dtype: int64

## Observed table

In [44]:
dataset_table=pd.crosstab(df["sex"],df["smoker"])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

- ho : There is no difference between two categorical columns (smoker and sex are are independent)
- ha : There is a relation between sex and smoker

In [49]:
val=scipy.stats.chi2_contingency(dataset_table)
val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

above output means :


0.0 is chi calulated 1.0 is p value 1 is degree freedom

and last is expacted table

In [50]:
if val[1]<0.05:
    print("Reject Null : There is relationship btw smoker and sex")
else:
    print("Accept Null : There is no relationship btw smoker and sex")

Accept Null : There is no relationship btw smoker and sex

# Anova Test

In [53]:
from  scipy.stats import f_oneway

In [60]:
## compare the average age of three countries
## take the samples of each country
country1 = [55,67,30,40,50,76]
country2 = [5,15,25,35, 45,60,80]
country3 = [15,25,35, 45,55,45,43]
f_val,p_val=f_oneway(country1,country2,country3)
print("F-value : ",f_val)
print("P-value : ",p_val)
alpha = 0.05 
if p_val>alpha:
    print("fail to reject ho")
else:
    print("reject ho")

F-value :  1.2553604436229209
P-value :  0.31009348701286266
fail to reject ho

df1 and df2

df1=2

df2=17

0.05

f critical= 3.959

In [62]:
if f_val<3.59:
    print("accept")
else:
    print(reject)

accept

In [ ]:
## load the iris data and compare the average patel lenght of three spices