# Iterators and Generators

 Iterators : To perfrom a task repeatily . till now, we have seen with the help of for loop and while loop we can traverse the sequence (list,tuple)or non-sequencr or to handle repeat task.

 so iterator and generator are the tools for traversing the sequence as well.

# Iterators
 
- iterator is an object which contains a countable numbers of values  and it is used to iterate over iterable objects like list ,tuple etc.
- iterators mostly used to iterate or convert other objects to an iterator using iter() function
- iter uses iter() and next() function
- Every iterator is not a generator

In [2]:
# so how to creat iterator
l=[1,2,3,45,5]
a=iter(l)
type(a)

list_iterator

In [3]:
next(a)

1

In [4]:
next(a)

2

In [5]:
next(a)

3

In [6]:
next(a)

45

In [7]:
next(a)

5

In [8]:
next(a)

StopIteration:

so , it is prettyy much clear that with the helps of loops we can traverse the sequence and non sequence data structure

so question comes > 

### why need iterators and generators if they do same job.


### Beacuse 

- They handles large  stream of data (like millions records ) like large file .
so we can not store all the data in the memory. so we fetch the data in the form of chunks according to requirement.

## Iterable vs Iterator

### Iterator : object which iterates over iterable
### Iterable: object over which we are able to iterate. means capable of returning numbers one by one.

In [13]:

def fun(num):
    for i in range(num):
        print(i)
        yield i*i
        print("hello")

In [14]:
fun(5)

In [15]:
a=fun(5)
a

In [16]:
next(a)

0

0

In [17]:
next(a)

hello
1

1

In [18]:
next(a)

hello
2

4

In [19]:
next(a)

hello
3

9

In [20]:
next(a)

hello
4

16

In [21]:
next(a)

hello

StopIteration:

## Note:-


- generators can be only made when you add yeild keyword in the function

In [22]:
def abc():
    print("hi")
    return 2
    print("hello")
k=abc()
print(k)

hi
2

# Lambda (Annonymous Function)

- These functions are called annonymous because they are not declared in the standard manner by using the def keyword.
- you can use the lambda keyword to create small anonymons functions.

In [23]:
# it is the function whicch can take any numbers of arguments but has only one expression

In [24]:
#waf to give sum of two numbers

a=lambda num1,num2:num1+num2
type(a)

function

In [26]:
(lambda num1,num2:num1+num2)(2,3)

5

In [27]:
(lambda num1,num2:num1+num2)(int(input("enter the first number")),int(input("Enter the sec number")))

enter the first number10
Enter the sec number30

40

In [28]:
a=lambda num1,num2:num1+num2
a(2,4)

6

In [29]:
a(7,9)

16

In [30]:
a(int(input("Enter the first number")),int(input("Enter the sec number")))

Enter the first number10
Enter the sec number30

40

In [32]:
# waf to find the largest amoung two numbers
(lambda num1,num2:num1 if num1>num2 else num2)(45,89)

89

In [33]:
#wap to find given strings starts with given character using lambda

In [41]:
(lambda l,s:s if l==s[0] else 'no')(input("enter the letter :"),input("Enter the string :"))

enter the letter :r
Enter the string :tanu

'no'

In [42]:
(lambda l,s: s if s.startswith(l) else 'no')(input("Enter the string : "),input("Enter the letter"))

Enter the string : ritika
Enter the letterl

'no'

In [43]:
#waf if the given string is a number or not using lambda

In [44]:
(lambda a:'is numeric' if a.isdigit() else 'not numeric')(input("Enter the string"))

Enter the string457

'is numeric'

In [56]:
a=input("Enter the string : ")
if a.isdigit():
    print("it is numeric")
else:
    print("not numeric")

Enter the string : ritika
not nueric

In [45]:
#wap to sort the dictionary using values

In [46]:
d={"one":1,"five":5,"two":2}
sorted(d)

['five', 'one', 'two']

In [47]:
sorted(d.items(),key=lambda t:t[1])

[('one', 1), ('two', 2), ('five', 5)]

In [48]:
sorted(d.items(),key=lambda t:t[0])

[('five', 5), ('one', 1), ('two', 2)]

In [50]:
d={"one":(1,2),"five":(5,4),"two":(2,5)}
sorted(d.items(),key=lambda t:t[1])

[('one', (1, 2)), ('two', (2, 5)), ('five', (5, 4))]

In [ ]:
#1. sort this list based on alphanumbric
#2. sort this list based on the len of the words in decresing order

In [51]:
l=["hello","hi","how","balmeet","meet"]
sorted(l)

['balmeet', 'hello', 'hi', 'how', 'meet']

In [55]:
sorted(l,key=lambda s:len(s),reverse=True)

['balmeet', 'hello', 'meet', 'how', 'hi']

# Map()

In [57]:
# to get the fruits starts with a 
l=["apple","avacado","banana","cherry"]
l1=[]
for i in l:
    if i.startswith("a"):
        l1.append(i)
print(l1)

['apple', 'avacado']

In [59]:
[i for i in l if i.startswith("a")]

['apple', 'avacado']

### Why we need map()
- Map is a function which is high order function
- the map() function iterates through all items in the given iterable and executes the function we passed as an argument on each of them

In [2]:
# using map
l=["apple","avacado","banana","cherry"]
list(map(lambda s: s if s.startswith("a") else "",l))

['apple', 'avacado', '', '']

In [27]:
def fruit_a(fruit):
    if fruit.startswith("a"):
        return fruit
    else:
        return ""

In [28]:
list(map(fruit_a,fruits))

['apple', 'avacado', '', '']

In [30]:
a=map(fruit_a,fruits)
a

In [31]:
next(a)

'apple'

## wap
1. l1=[12,3,4]
2.  l2=[2,3,4]
3.  l3=[14,6,8]

In [32]:
l1=[12,3,4]
l2=[2,3,4]
l3=[14,6,8]
list(map(lambda x,y:x+y,l1,l2))

[14, 6, 8]

In [33]:
base_list=[2,4,6]
power_list=[2,3,1]
list(map(lambda x,y:x**y,base_list,power_list))

[4, 64, 6]

 ### Filter():
 
- Filter is also a high order function 
- it gives the output after , if condition gets true

In [34]:
list(filter(lambda s: s if s.startswith("a") else "",l))

['apple', 'avacado']

In [35]:
l=[2,3,4]
list(map(lambda s:s**2 ,l))

[4, 9, 16]

In [36]:
l=[2,3,4]
list(filter(lambda s:s**2 ,l))

[2, 3, 4]

### Reduce()
- high order function
- reduce function works differently than map() and filter().it does not return a new datastype list of tuple like a map and filter.it return communicative from

In [38]:
from functools import reduce
li=[47,11,42,13]
# Returns the sum of all the elements using `reduce`
reduce(lambda a,b:a if a>b else b,li)

47

In [43]:
li=[47,11,42,13]
# Returns the sum of all the elements using `reduce`
reduce(lambda a,b:a+b,li)

113