In [5]:
# wap to print the even numbers between 1 to 10
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10]

### List Compressions

In [7]:
["even" for i in range(1,11) if i%2==0]

['even', 'even', 'even', 'even', 'even']

In [8]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [10]:
["even" if i%2==0 else "odd" for i in range(1,11) ]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [13]:
l=[]
for i in range(1,11):
    i=i*i
    l.append(i)
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
[i*i for i in range(1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# zip

In [29]:
'''l1=["meet","preet"]
   l2=["simran","asees"]
   1.output=["meet simran","meet asees","preet simran","preet asees"]
   2. output: ["meet simran","preet asses"]'''

l=[]
l1=["meet","preet","kitty"]
l2=["simran","asees"]
for i in l1:
    for j in l2:
        l.append(i+" "+j)
print(l)
ll=[]

l1=list(zip(l1,l2))
for i in l1:
    s=""
    for j in i:
        s=s+" "+j
        ll.append(s)
print(ll)

['meet simran', 'meet asees', 'preet simran', 'preet asees']
[' meet', ' meet simran', ' preet', ' preet asees']

In [32]:
l1=[]
for i in l1:
    s=" "
    for j in i:
        s=s+" "+j
        ll.append(s)
ll

[' meet', ' meet simran', ' preet', ' preet asees']

In [41]:
l1=["meet","preet","kitty"]
l2=["simran","asees"]
l=(list(zip(l1,l2)))
l
a1,a2=list(zip(*l))
a1,a2

(('meet', 'preet'), ('simran', 'asees'))

In [1]:
l1=["meet","preet","kitty"]
l2=["simran","asees"]
l=list(zip(l1,l2))
l

[('meet', 'simran'), ('preet', 'asees')]

In [2]:
a1,a2=list(zip(*l))
a1,a2

(('meet', 'preet'), ('simran', 'asees'))

In [3]:
# wap to fetch those fruits which starts with "a " using list comprension
fruits=["apple","advocado","kiwi","cherry"]
[i for i in fruits if i.startswith("a")]

['apple', 'advocado']

In [46]:
# wap to remove the dublecant element from the list

l=["hello","hello",2,"hi","meet","meet"]
u_l=[]
for i in l:
    if i not in u_l:
        u_l.append(i)
print(u_l)

['hello', 2, 'hi', 'meet']

In [47]:
li=['a','quick','brown','fox','jumps','over','the','lazy','dog']
'''task 1: sort the list alphabrtically
task 2: count the occurances of each element in the list
task 3:count the occurances of each present as element of list.'''



sorted(li)

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [51]:
for i in li:
    print(i,"---------------",li.count(i))

a --------------- 1
quick --------------- 1
brown --------------- 1
fox --------------- 1
jumps --------------- 1
over --------------- 1
the --------------- 1
lazy --------------- 1
dog --------------- 1

In [1]:
l=["tanu","sana","mehak","nikki","sanju"]
sorted(l)

['mehak', 'nikki', 'sana', 'sanju', 'tanu']

In [52]:
cl=[]
for i in li:
    for j in i:
        cl.append(j)
print(cl)

['a', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', 't', 'h', 'e', 'l', 'a', 'z', 'y', 'd', 'o', 'g']

In [53]:
for k in cl:
    print(k,'--------------------------',cl.count(k))

a -------------------------- 2
q -------------------------- 1
u -------------------------- 2
i -------------------------- 1
c -------------------------- 1
k -------------------------- 1
b -------------------------- 1
r -------------------------- 2
o -------------------------- 4
w -------------------------- 1
n -------------------------- 1
f -------------------------- 1
o -------------------------- 4
x -------------------------- 1
j -------------------------- 1
u -------------------------- 2
m -------------------------- 1
p -------------------------- 1
s -------------------------- 1
o -------------------------- 4
v -------------------------- 1
e -------------------------- 2
r -------------------------- 2
t -------------------------- 1
h -------------------------- 1
e -------------------------- 2
l -------------------------- 1
a -------------------------- 2
z -------------------------- 1
y -------------------------- 1
d -------------------------- 1
o -------------------------- 4
g -------------------------- 1

In [57]:
from collections import Counter
Counter(cl)

Counter({'a': 2,
         'q': 1,
         'u': 2,
         'i': 1,
         'c': 1,
         'k': 1,
         'b': 1,
         'r': 2,
         'o': 4,
         'w': 1,
         'n': 1,
         'f': 1,
         'x': 1,
         'j': 1,
         'm': 1,
         'p': 1,
         's': 1,
         'v': 1,
         'e': 2,
         't': 1,
         'h': 1,
         'l': 1,
         'z': 1,
         'y': 1,
         'd': 1,
         'g': 1})

In [59]:
# count the district elements
p=[]
for i in cl:
    if i not in p:
        p.append(i)
print(p)

['a', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 's', 'v', 'e', 't', 'h', 'l', 'z', 'y', 'd', 'g']

In [62]:
len(p)

26

In [1]:
# wap to print all the numbers in a list whose all digits are div by 2 and the range is 100-400
l=[234,678,990,862,880,4000]
ll=[]
for i in l:
    count=0
    i=str(i)
    li=len(i)
    for j in i:
        j=int(j)
        if j%2==0:
            count=count+1 
    if count==li:
        ll.append(i)
print(ll)

['862', '880', '4000']

- take a list from the user and also take the element which is used to searched in the list form the user as well and display wether the element is present or not .if it is present then display its location as well.
- wap to display the smallest and largest element in the list
- original list=[[1,3],[5,7],[9,11]]
                 [2,4],[6,8],[10,11,12]

In [12]:
l=[[st1,[age,gender],old/young]]

NameError: name 'st1' is not defined

In [2]:
outer_list=[]
n=int(input("Enter the number of student"))
for i in range(0,n):
    ag=[]
    st=[]
    name=input("Enter the student")
    age=int(input("Enter the age "))
    gender=input("Enter the gender")
    if age>40:
        status="old"
    else:
        status="young"
    ag.append(age)
    ag.append(gender)
    st.append(name)
    st.append(ag)
    st.append(status)
    outer_list.append(st)
print(outer_list)

Enter the number of student2
Enter the studentriya
Enter the age 20
Enter the genderfemale
Enter the studenttanu
Enter the age 30
Enter the genderfemale
[['riya', [20, 'female'], 'young'], ['tanu', [30, 'female'], 'young']]

In [10]:
l=[]
for i in range(1,11):
    i=int(input("Enter the number"))
    l.append(i)
print(l)
element=int(input("Enter the number to be searched"))
if element in l: 
    print("the element is present")
else:
    print("the element is not present")

print("Position of the number", l.index(element))

Enter the number1
Enter the number2
Enter the number3
Enter the number4
Enter the number5
Enter the number6
Enter the number7
Enter the number8
Enter the number9
Enter the number11
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
Enter the number to be searched11
the element is present
Position of the number 9