# Tuples



## what is a Tuple?


A tuple is ordered collection of python object seperated by commas.
In some ways, a tuple is similar to a list in terms of indexing ,nested and replectition but a tuple is immutable , unlike lists that are mutable .
Tuples are immutable but folows some rule same as list like len , min ,max , string.

In [3]:
# how to create tuple??
t=(2,3,4)
type(t)

tuple

In [4]:
t=(20)
type(t)

int

In [5]:
t=(20,)
type(t)

tuple

In [6]:
t=("hello",6.8,"90",100)
t[0:3]

('hello', 6.8, '90')

In [8]:
t=("hello",6.8,"90",100)
t[::-1]

(100, '90', 6.8, 'hello')

In [9]:
t=("hello",6.8,"90",100,[20,80,90],(70,800))
t[4][1]

80

In [11]:
l=["hello",6.8,"90",100,[20,80,90],(70,800)]
l

['hello', 6.8, '90', 100, [20, 80, 90], (70, 800)]

In [12]:
tuple(l)

('hello', 6.8, '90', 100, [20, 80, 90], (70, 800))

In [13]:
# nested tuple
t=((1,2,3),(4,5,6))
t

((1, 2, 3), (4, 5, 6))

In [15]:
min(t)

(1, 2, 3)

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [23]:
t=(1,2,3,4,4,8,9,5,6,5,6,7)
t
sum(t)

60

In [24]:
min(t)

1

In [25]:
max(t)

9

In [26]:
t.index(4)

3

In [28]:
from collections import Counter
t=(100,200,300,100,200)
for i in t:
    print(i,"----------",t.count(i))
print(Counter(t))

100 ---------- 2
200 ---------- 2
300 ---------- 1
100 ---------- 2
200 ---------- 2
Counter({100: 2, 200: 2, 300: 1})

Operations:
- concatination
- replication
- membership

In [30]:
t=(1,2,3)+("hello","hi")
t

(1, 2, 3, 'hello', 'hi')

In [31]:
t*2

(1, 2, 3, 'hello', 'hi', 1, 2, 3, 'hello', 'hi')

In [33]:
2 in t

True

# Sets

# What is sets ? 

## Sets are unorderd collection of data enclosed{}

### properties of sets

- Set elements are unique .Suplicate are not allowed.
- No indexing and slicing (means once you added the elements in the set can not access as s[1]
- Sets do not allow mutable data type data.
- set itself is mutuable data type implies 2d/3d sets can not be possible.

In [34]:
# how to create the set
s={2,3,3,2,4,45,4,45,5,6,7}
s

{2, 3, 4, 5, 6, 7, 45}

In [39]:
s={2,3,4,5,6,"hello","hi"}
type(s)

set

In [41]:
s={2}
type(s)

set

In [42]:
s={}
type(s)

dict

In [44]:
s=set()
type(s)

set

In [46]:
l=[2,3,4,5,6,4,5]
set(l)

{2, 3, 4, 5, 6}

In [47]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [53]:
s1={34,56,70}
print(id(s1))
s1.add("hello")
print(id(s1))

1505294204256
1505294204256

In [54]:
s1

{34, 56, 70, 'hello'}

In [55]:
del s1

In [56]:
s1

NameError: name 's1' is not defined

In [59]:
# REMOVE
s={1,2,3,4,5}
s.remove(4)
s

{1, 2, 3, 5}

In [62]:
# POP
s={1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

### Set operations
- concatinaton and replication is not allowed
- mebership is allowed only

In [70]:
# create a set having the elements which you need to take from the user

s=set()
for i in range(0,5):
    e=input("Enter the element : ")
    s.add(e)
print(s)
print(type(s))

Enter the element : 1
Enter the element : 2
Enter the element : 3
Enter the element : 4
Enter the element : 5
{'5', '2', '4', '1', '3'}
<class 'set'>

### clear(): method the whole set.

In [72]:
s={2,3,4,5,6}
s.clear()
s

set()

In [73]:
s={1,2,3,4,5,56}
s1=s.copy()
s1

{1, 2, 3, 4, 5, 56}

In [75]:
l=[4,5,56,67,7,5]
l1=l.copy()
l1

[4, 5, 56, 67, 7, 5]

### union

In [76]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1|s2

{1, 2, 3, 4, 5, 6, 8, 78}

### Intersection

In [77]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1.intersection(s2)

{4, 5}

In [78]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1.difference(s2)

{1, 2, 3}

In [79]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s2.difference(s1)

{6, 8, 78}

In [80]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1&s2

{4, 5}

In [81]:
### Difference_update
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1.difference_update(s2)
print(s1)

{1, 2, 3}

In [82]:
### Symetric_difference
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s1.symmetric_difference(s2)
print(s1)

{1, 2, 3, 4, 5}

In [83]:
s1={1,2,3,4,5}
s2={5,6,78,8,4}
s2.symmetric_difference(s1)
print(s2)

{4, 5, 6, 8, 78}

In [86]:
### issubest : all element of s1 present in s2

s1={1,2,3,4,5}
s2={1,2,3,4,5,6,7,8}
s1.issubset(s2)

True

In [87]:
s1={1,2,3,4,5}
s2={1,2,3,4,5,6,7,8}
s2.issuperset(s1)

True

In [89]:
# disjoint set
a={1,2,3}
b={5,6,7}
a.isdisjoint(b)

True

In [92]:
a={1,2,3,45,5}
a1=frozenset(a)
print(a1)

frozenset({1, 2, 3, 5, 45})

In [93]:
a1.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

### Wap to add all the elements in the set from 2000 to 2100 whose all digits are even

In [4]:
s=set()
for i in range(2000,2101):
    S=str(i)
    count=0
    for n in S:
        n=int(i)
        if n%2==0:
            count=count+1
    if count==4:
        s.add(i)
print(s)

{2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046}

In [2]:
s1=set()
for i in range(2000,2101):
    s=str(i)
    count=0
    for j in s:
        j=int(i)
        if j%2==0:
            count=count+1
    if count==4:
        s1.add(i)
print(s1)

{2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046}